body {
    color: white;
    overflow-x: hidden;
    height: 100%;
    background-color: #CFD8DC;
    background-repeat: no-repeat;
}


.card {
    background-size: cover;
    width: 80%;
    height: 40rem;
    padding: 2% 3%;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px #9E9E9E;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-image: url(images/rain.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
}

.rain {
    background-image: url(images/rain.jpg);
    background-size: cover;
}

.clouds {
    background-image: url(images/clouds.jpg);
    background-size: cover;
}
.haze {
    background-image: url(images/haze.jpg);
    background-size: cover;
}
.sunny {
    background-image: url(images/sunny.jpg);
    background-size: cover;
}

.temp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.text-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.location {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.text-in-text-up {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.time-font {
    font-size: 50px;
}

.sm-font {
    font-size: 18px;
}

.med-font {
    font-size: 28px;
}

.large-font {
    font-size: 60px;
}



@media(max-width:700px) {
    html {
        width: 100%;
        height: 100%;
    }

    body {
        padding:0;
      }


    #section1 {
        width: 100%;
        height: 100%;
        
    }

    .container {
        padding:0;
        margin:0;
      }
    
    .px-1, .px-md-4, .py-5, .px-3 {
        padding:0!important;
        margin:0!important;
    }
  
      
    .container-fluid {
        padding: none;
    }

    .card-container {
        height: 100%;
    }

    .card {
        background-size: cover;
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0px;
        border: 0px;
    }

    .rain {
        background-image: url(images/rain-mobile.jpg);
        background-size: cover;
    }
    
    .clouds {
        background-image: url(images/cloud-mobile.jpg);
        background-size: cover;
    }
    .haze {
        background-image: url(images/haze-mobile.jpg);
        background-size: cover;
    }
    .sunny {
        background-image: url(images/sunny-mobile.jpg);
        background-size: cover;
    }
}